<!DOCTYPE html>
<html lang="en" 
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">


<title>Control 5 Peivand Perez</title>
<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<link href="/css/bootstrap-table.min.css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}"/>
<link href="/css/globalstyle.css" rel="stylesheet" th:href="@{/css/globalstyle.css}"/>
<script src="/js/jquery-3.4.1.js" th:href="@{/js/jquery-3.4.1.js}"></script>
<script src="/js/notas.js" th:href="@{/js/notas.js}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div th:replace="fragments/header :: header">&n</div>
	<div class="container">
		<div class="panel panel-default" id="panel1">
			<div class="panel-body">
				<h3>Notas</h3>	
				<p>
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:NotasController('list')">Listar</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:NotasController('get')">Buscar Alumno</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:NotasController('insert')">Ingresar Nota</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:NotasController('update')">Modificar Nota</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:NotasController('delete')">Eliminar Nota</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:NotasController('promedioAlumno')">Promedio Alumno</button>
				</div>
				<p>
				<div class="alert alert-danger" id="msg" hidden="true">
				</div>
				<p>
				<div class="input-group">
					<span class="input-group-addon">Codigo Curso</span>
					<input type="number" class="form-control" id="codigoCurso" >
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Nombre Curso</span>
					<input type="text" class="form-control" id="nombreCurso" >
				</div>
				<div class="input-group">
					<span class="input-group-addon">RUT</span>
					<input type="text" class="form-control" id="rut" >
				</div>
				<div class="input-group">
					<span class="input-group-addon">Nombre Alumno</span>
					<input type="text" class="form-control" id="nombreAlumno" >
				</div>
					<div class="input-group">
					<span class="input-group-addon">Número Módulo</span>
					<input type="number" class="form-control" id="numeroModulo" >
				</div>
					<div class="input-group">
					<span class="input-group-addon">Número Evaluación</span>
					<input type="number" class="form-control" id="numeroEvaluacion" >
				</div>
					<div class="input-group">
					<span class="input-group-addon">Nota</span>
					<input type="number" class="form-control" id="nota" >
				</div>
					<div class="input-group">
					<span class="input-group-addon">ID Nota</span>
					<input type="number" class="form-control" id="idNota" >
				</div>
			</div>
		</div>
	
	</div>


	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">Close</button>
					<h4 class="modal-title">Listado Notas </h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive" style='height:100%' id='tableDivContainer'>
						<table class="table table-condensed" id='notasTable' data-toggle="table" data-height="299">
							<thead><tr>
							
								<th data-field="codigoCurso">Código Curso</th>
								<th data-field="nombreCurso">Nombre Curso</th>
								<th data-field="rut">Rut</th>
								<th data-field="nombreAlumno">Nombre Alumno</th>
								<th data-field="numeroModulo">Número Módulo</th>
								<th data-field="numeroEvaluacion">Número Evaluación</th>
								<th data-field="nota">Nota</th>
								<th data-field="idNota">ID Nota</th>
					
							</tr>
							</thead>
						</table>
					</div>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
					</div>
			</div>
		</div>
	</div>
	
		<div id="myModalPromedio" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">Close</button>
					<h4 class="modal-title">Listado Notas </h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive" style='height:100%' id='tableDivContainer'>
						<table class="table table-condensed" id='PromedioTable' data-toggle="table" data-height="299">
							<thead><tr>
							
								
								<th data-field="rut">Rut</th>
								<th data-field="promedioAlumno">Promedio Notas</th>									
					
							</tr>
							</thead>
						</table>
					</div>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
					</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" src="/js/bootstrap-table.min.js" th:href="@{/js/bootstrap-table.min.js}"></script>
</body>
</html>